body {
    background-color: rgb(71, 105, 207);
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
}

.high-tag-indi {
    border-left: 5px solid coral;
    border-radius: 3px 0px 0px 3px;
    height: 25px;
    margin-left: 5px;
}

.medium-tag-indi {
    border-left: 5px solid #FFBF00;
    border-radius: 3px 0px 0px 3px;
    height: 25px;
    margin-left: 5px;
}

.low-tag-indi {
    border-left: 5px solid #3EB489;
    border-radius: 3px 0px 0px 3px;
    height: 25px;
    margin-left: 5px;
}

.task-input {
    width: 80%;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
    cursor: pointer;
}

.add-btn {
    margin-left: 82px;
    cursor: pointer;
}

.save-btn {
    margin-right: auto;
    cursor: pointer;
    margin-top: 10px;
}

.btn-con {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.reset-btn {
    cursor: pointer;
    margin-top: 10px;
}

.your-task-title {
    color: white;
    font-size: 20px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.all-todo-container {
    padding-top: 1px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 30px;
    margin-right: 30px;
    height: 45px;
    margin-bottom: 10px;
}

.todo-text {
    margin-top: 1px;
}

.todo-title {
    font-size: 15px;
}

.todo-time {
    font-size: 10px;
    font-weight: bold;
}

.today-todo-container {
    padding-top: 1px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left: 5px;
    height: 45px;
    margin-top: 10px;
    min-width: 350px;
    max-width: 1050px;
}

.todo-text-container {
    margin-top: 1px;
}

.today-todo-text-container {
    margin-top: 1px;
}

.todo-title {
    font-size: 15px;
}

.todo-time {
    font-size: 10px;
    font-weight: bold;
}


/* .v-line {
    border-width: 1px;
    border-color: rgb(182, 180, 180);
    border-style: solid;
    margin-left: 435px;
    height: 43px;
} */


/* .today-v-line {
    border-width: 1px;
    border-color: rgb(182, 180, 180);
    border-style: solid;
    height: 43px;
} */

.delete-icon {
    padding-left: 18px;
    padding-top: 9px;
    margin-left: auto;
    cursor: pointer;
    border-left: 2px solid rgb(182, 180, 180);
    height: 43px;
    width: 55px;
}

.high-important-todo-tag {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 10px;
    border-style: solid;
    border-color: coral;
}

.medium-important-todo-tag {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 10px;
    border-style: solid;
    border-color: #FFBF00;
}

.low-important-todo-tag {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 10px;
    border-style: solid;
    border-color: #3EB489;
}

.v-line-a {
    border: 1px solid rgb(182, 180, 180);
    margin-left: 10px;
    margin-top: 5px;
    height: 300px;
}

.importance-level {
    color: white;
    font-size: 11px;
    margin-top: 4px;
    margin-left: 2px;
}

.inportance-check-imput {
    cursor: pointer;
    margin-left: 8px;
}

.importance-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.heading {
    color: white;
    margin-top: -15px;
}

.today-todo-list {
    overflow-y: auto;
    min-height: 100px;
    max-height: 307px;
    scrollbar-width: none;
    width: 1050px;
    min-width: 350px;
    margin-left: 1.5%;
}

.all-todo-list {
    overflow-y: auto;
    min-height: 100px;
    max-height: 300px;
    scrollbar-width: none;
}

.todo-complite-checkbox {
    cursor: pointer;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 10px;
}

.extra-detail-con {
    width: 80%;
    margin-left: 10%;
}

.calender-container {
    margin-top: 5px;
    width: 350px;
    margin-left: 1%;
}

.query-con {
    margin-top: 10px;
    margin-bottom: 10px;
}

.query-input {
    margin-left: 1.5%;
    width: 85%;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
    cursor: pointer;
}

.send-con {
    width: 5%;
    padding: 0px;
    margin-left: 0px;
}

.calendar {
    width: 350px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.header button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.header button:hover {
    background: #3730a3;
}

.month-year {
    font-weight: bold;
    font-size: 18px;
    flex: 1;
    text-align: center;
}

.days,
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.days div {
    font-weight: bold;
    padding: 5px 0;
}

.dates div {
    padding: 9px 0px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.dates div:hover {
    background: #4f46e5;
    color: white;
}

.today {
    background: #e0e7ff;
    font-weight: bold;
}


/*     
    .radio-style {
        height: 13px;
        width: 13px;
        border-radius: 3px;
        appearance: none;
        border: 1px solid #d01c1c;
    }
    
    .radio-style:checked {
        background-color: black; 
    
    background-image: url(https://cdn-icons-png.flaticon.com/128/1828/1828640.png);
    height: 13px;
    width: 13px;
}
*/

<!--
/* <!-- <div class="low-important-todo-tag today-todo-container">
    <div class=" d-flex flex-row">
        <!-- todo compelite checkbox -->
        <div><input class="todo-complite-checkbox" type="checkbox" /></div>
        <!-- text container -->
        <div class="today-todo-text-container">
            <!-- todo name -->
            <h1 class="todo-title">Read HTML</h1>
            <div class="d-flex flex-row">
                <!-- date -->
                <div>
                    <p class="todo-time">21/11/2006</p>
                </div>
                <!-- time -->
                <div style="margin-left: 10px;">
                    <p class="todo-time">12 PM</p>
                </div>
            </div>
        </div>
        <!-- delete icon -->
        <div class="delete-icon d-flex flex-column justify-content-center" style="padding-top: 1px;">
            <i class="fa-duotone fa-solid fa-trash-arrow-up"></i>
        </div>
    </div>
</div> --> --> */